* {
    font-family: Jua, serif;
    --dough-brown: #EACAAB;
    --jam-red: #FF95D3;
    --zest-yellow: #FFF492;
    --citron-yellow: #B7AC49;
    --mint-green: #CFFDED;
    --tea-green: #6DBEA2;
    --berry-blue:#4579A3;
    --ice-blue: #b1d9f9;
    --grape-purple: #CCA8EF;
    --donut-pink: #FF95D3;
    --frosting-pink: #FFDDF4;
    --sugar-white: #FFFEF9;
    --cutting-board-grey: #F0F0F0;
    --brown-sugar: #CDC392;
    --brioche-brown: #C3976D;
}

body{
    background-color: var(--sugar-white);
}

h3 {
    padding-top: 20px; 
    padding-bottom: 20px;
}

.header {
    color: var(--donut-pink);
    font-weight:bold;
    font-style: italic;
}

.ingredients {
    font-family: Jua, serif;
    color:var(--berry-blue);
}

.baking-fun {
    color:var(--berry-blue);
}

.random {
    color:var(--berry-blue);
}

#selecta-recipie-container {
    align-items: center;
    margin: 0 auto;
}

#selecta-recipie-container input {
    width: 200px;
    padding: .6rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 .5rem;
    transition: all 0.3s ease-in-out;
    color: var(--icing-pink);
    background: var(--frosting-pink);
    
}

#back {
    width: 200px;
    padding: .6rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 .5rem;
    transition: all 0.3s ease-in-out;
    color: var(--icing-pink);
    background: var(--frosting-pink);
}

#top:hover {
    cursor: pointer;
    transform: scale(1.05);
    color:var(--brioche-brown);
    background: var(--dough-brown);
}

#middle-up:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--tea-green);
    background: var(--mint-green);
}

#middle-down:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--citron-yellow);
    background: var(--zest-yellow);
}

#bottom:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: var(--berry-blue);
    background: var(--ice-blue);
}

#submit {
    width: 200px;
    padding: .6rem 1rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 .5rem;
    transition: all 0.3s ease-in-out;
}


#submit:hover {
    cursor: pointer;
    transform: scale(1.05);
}