* {
    font-family: Jua, serif;
    --frosting-pink: #FFDDF4;
    --dough-brown: #EACAAB;
    --jam-red: #FF95D3;
    --zest-yellow: #FFF492;
    --mint-green: #CFFDED;
    --berry-blue: #7FC5FF;
    --grape-purple: #CCA8EF;
}

#selecta-recipie-container {
    align-items: center;
    margin: 0 auto;
}

#selecta-recipie-container input {
    width: 200px;
    padding: .6rem 1rem;
    border: none;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 .5rem;
    transition: all 0.3s ease-in-out;
    color:#CDC392;
    
}

#selecta-recipie-container input:hover {
    cursor: pointer;
    transform: scale(1.05);
}